In [1]:
from utils.spark_session import get_spark_session
from utils.hadoop_setup import complete_hadoop_setup

# Hadoop complete setup
complete_hadoop_setup()

# Create Spark Session and assign to spark 'variable'
spark = get_spark_session()

âœ” HADOOP_HOME set to:, os.environ['HADOOP_HOME']
âœ” Added to PATH: C:\hadoop\bin

 âœ” winutils.exe: True
 âœ” hadoop.dll: True

ðŸŽ‰ Setup complete!
âœ” HADOOP_HOME set to:, os.environ['HADOOP_HOME']
âœ” Added to PATH: C:\hadoop\bin

 âœ” winutils.exe: True
 âœ” hadoop.dll: True

ðŸŽ‰ Setup complete!

In [23]:
from pathlib import Path

PROJECT_ROOT = Path(r"C:\Users\chira\Desktop\data_engineering\PySpark\nyc-taxi-analytics-platform")

SILVER_GREEN_PATH = str(PROJECT_ROOT / "data" / "silver" / "nyc_taxi" / "green")
GOLD_BASE_PATH = PROJECT_ROOT / "data" / "gold" / "nyc_taxi" / "green"

GOLD_DAILY_PATH = str(GOLD_BASE_PATH / "daily_metrics")
GOLD_HOURLY_PATH = str(GOLD_BASE_PATH / "hourly_metrics")

In [24]:
# Read Silver

df_silver = spark.read.format("delta").load(SILVER_GREEN_PATH)

print(f"Silver row count: {df_silver.count():,}")

Silver row count: 47,364

## Gold Daily Metrics (PySpark)

In [25]:
# Daily Aggregation (DataFrame API)

from pyspark.sql.functions import (
    to_date,
    count,
    sum as spark_sum,
    avg
)

df_daily = (
    df_silver
    .withColumn("trip_date", to_date("pickup_ts"))
    .groupBy("trip_date", "year", "month")
    .agg(
        count("*").alias("total_trips"),
        spark_sum("total_amount").alias("total_revenue"),
        spark_sum("fare_amount").alias("total_fare"),
        avg("trip_distance").alias("avg_trip_distance"),
        avg("fare_amount").alias("avg_fare_amount"),
        avg("total_amount").alias("avg_total_amount")
    )
)

In [26]:
(
    df_daily
    .write
    .format("delta")
    .mode("overwrite")
    .partitionBy("year", "month")
    .save(GOLD_DAILY_PATH)
)

print("âœ” Gold daily metrics written")

âœ” Gold daily metrics written

In [27]:
df_daily.show()

+----------+----+-----+-----------+------------------+------------------+------------------+------------------+------------------+
| trip_date|year|month|total_trips|     total_revenue|        total_fare| avg_trip_distance|   avg_fare_amount|  avg_total_amount|
+----------+----+-----+-----------+------------------+------------------+------------------+------------------+------------------+
|2025-09-01|2025|    9|       1312| 41135.46999999999|31339.950000000037| 11.18649390243903| 23.88715701219515|31.353254573170723|
|2025-09-02|2025|    9|       1654| 49120.58999999996|35456.520000000135| 9.380284159613058|21.436831922611933|29.698059250302272|
|2025-09-19|2025|    9|       1716|46974.559999999896| 32368.00000000014|  93.2456934731935|18.862470862470943|27.374452214452155|
|2025-09-29|2025|    9|       1647| 41678.23999999992|27124.250000000207|3.4698360655737726|  16.4688828172436|25.305549483910088|
|2025-09-03|2025|    9|       1745| 57483.45000000003|  42060.1700000001| 4.166418338108881| 24.10324928366768|32.941805157593144|
|2025-09-04|2025|    9|       1810| 50362.49999999999|35425.970000000096| 3.466574585635356|19.572359116022152|27.824585635359114|
|2025-09-06|2025|    9|       1316| 37528.01999999996|28019.730000000076| 3.733647416413376|21.291588145896714| 28.51673252279632|
|2025-09-09|2025|    9|       1552| 39669.55999999992|26562.350000000242|3.3162048969072218|17.114916237113558|25.560283505154587|
|2025-09-10|2025|    9|       1701|43370.169999999875|  28944.6200000002| 3.351405055849501|17.016237507348734|25.496866549088697|
|2025-09-11|2025|    9|       1743| 46152.09999999989|31364.040000000216| 31.04483648881238|17.994285714285837|  26.4785427423981|
|2025-09-13|2025|    9|       1355| 38767.80999999997|28667.540000000092|3.6300959409594107|21.156856088560954| 28.61092988929887|
|2025-09-17|2025|    9|       1763|          46030.56|32343.930000000168|3.2528871242200847| 18.34596142938183|26.109222915484967|
|2025-09-18|2025|    9|       1792| 47949.16999999998| 33279.04000000021|102.40179687500002|18.570892857142976| 26.75734933035713|
|2025-09-28|2025|    9|       1333| 36877.95999999996|26917.810000000118| 3.626181545386343|20.193405851462956| 27.66538634658662|
|2025-09-30|2025|    9|       1589|43368.059999999874|30279.180000000175| 74.53816865953426|19.055494021397216|27.292674638137115|
|2025-09-05|2025|    9|       1695|          53556.27| 38416.99000000017|34.448471976401166| 22.66489085545733|31.596619469026546|
|2025-09-15|2025|    9|       1600|40274.829999999936|26946.900000000132|3.4623562500000005| 16.84181250000008| 25.17176874999996|
|2025-09-16|2025|    9|       1672| 43859.81999999991| 29673.05000000023| 3.507200956937794|17.747039473684346|  26.2319497607655|
|2025-09-22|2025|    9|       1635|41170.659999999894|27532.480000000174| 3.434568807339451|16.839437308868607| 25.18083180428128|
|2025-09-23|2025|    9|       1541|          40129.07|27286.120000000188| 3.543465282284232| 17.70676184295924|26.040927968851395|
+----------+----+-----+-----------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

## Gold Hourly Metrics (PySpark)

In [28]:
# Hour Extractions

from pyspark.sql.functions import hour

df_hourly = (
    df_silver
    .withColumn("trip_date", to_date("pickup_ts"))
    .withColumn("trip_hour", hour("pickup_ts"))
    .groupBy("trip_date", "trip_hour", "year", "month")
    .agg(
        count("*").alias("trips_per_hour"),
        spark_sum("total_amount").alias("revenue_per_hour"),
        avg("fare_amount").alias("avg_fare_per_hour")
    )
)

In [29]:
(
    df_hourly
    .write
    .format("delta")
    .mode("overwrite")
    .partitionBy("year", "month")
    .save(GOLD_HOURLY_PATH)
)

print("âœ”Gold hourly metrics written")

âœ”Gold hourly metrics written

In [30]:
df_hourly.show()

+----------+---------+----+-----+--------------+------------------+------------------+
| trip_date|trip_hour|year|month|trips_per_hour|  revenue_per_hour| avg_fare_per_hour|
+----------+---------+----+-----+--------------+------------------+------------------+
|2025-09-01|        2|2025|    9|            14|            735.41| 42.91428571428572|
|2025-09-01|        7|2025|    9|            15|            388.59|19.255333333333333|
|2025-09-01|        9|2025|    9|            26|            573.76|16.709615384615383|
|2025-09-01|       10|2025|    9|            42|            1013.2|17.623333333333328|
|2025-09-02|       14|2025|    9|            90|2184.7899999999995| 17.50411111111112|
|2025-09-02|       15|2025|    9|           103|3288.6000000000013|23.967766990291263|
|2025-09-02|       17|2025|    9|           140| 3990.419999999999| 19.55178571428572|
|2025-09-02|       19|2025|    9|            92|           2691.34|19.971521739130434|
|2025-09-02|        4|2025|    9|             5| 91.30999999999999|             13.36|
|2025-09-02|        5|2025|    9|            11|            272.47| 19.60909090909091|
|2025-09-02|        6|2025|    9|            37|1026.3799999999997|18.794594594594596|
|2025-09-03|        8|2025|    9|            99|3041.8899999999985|23.303636363636365|
|2025-09-02|       10|2025|    9|            96|           2229.13|15.796979166666675|
|2025-09-03|       10|2025|    9|           107|           3620.36|24.120747663551402|
|2025-09-03|       11|2025|    9|           110|3045.4500000000016|20.329272727272738|
|2025-09-03|       17|2025|    9|           134|4080.8599999999988| 20.45097014925374|
|2025-09-03|       23|2025|    9|            53|           4205.52| 68.16377358490564|
|2025-09-04|       14|2025|    9|           118|           3001.34|17.968305084745772|
|2025-09-04|        4|2025|    9|             6|241.69000000000003| 26.64166666666667|
|2025-09-05|       14|2025|    9|           115| 2809.889999999999|15.410347826086971|
+----------+---------+----+-----+--------------+------------------+------------------+
only showing top 20 rows

## Same Logic Using Spark SQL

In [31]:
# Create a Temporary View

df_silver.createOrReplaceTempView("silver_green")

In [32]:
# Daily Metrics (SQL)

df_daily_sql = spark.sql("""
SELECT
    TO_DATE(pickup_ts) AS trip_date,
    year,
    month,
    COUNT(*) AS total_trips,
    SUM(total_amount) AS total_revenue,
    SUM(fare_amount) AS total_fare,
    AVG(trip_distance) AS avg_trip_distance,
    AVG(fare_amount) AS avg_fare_amount,
    AVG(total_amount) AS avg_total_amount
FROM silver_green
GROUP BY TO_DATE(pickup_ts), year, month
""")

In [33]:
# Write

(
    df_daily_sql
    .write
    .mode("overwrite")
    .partitionBy("year", "month")
    .save(str(GOLD_BASE_PATH / "daily_metrics_sql"))
)

In [34]:
df_daily_sql.show()

+----------+----+-----+-----------+------------------+------------------+------------------+------------------+------------------+
| trip_date|year|month|total_trips|     total_revenue|        total_fare| avg_trip_distance|   avg_fare_amount|  avg_total_amount|
+----------+----+-----+-----------+------------------+------------------+------------------+------------------+------------------+
|2025-09-01|2025|    9|       1312| 41135.46999999999|31339.950000000037| 11.18649390243903| 23.88715701219515|31.353254573170723|
|2025-09-02|2025|    9|       1654| 49120.58999999996|35456.520000000135| 9.380284159613058|21.436831922611933|29.698059250302272|
|2025-09-19|2025|    9|       1716|46974.559999999896| 32368.00000000014|  93.2456934731935|18.862470862470943|27.374452214452155|
|2025-09-29|2025|    9|       1647| 41678.23999999992|27124.250000000207|3.4698360655737726|  16.4688828172436|25.305549483910088|
|2025-09-03|2025|    9|       1745| 57483.45000000003|  42060.1700000001| 4.166418338108881| 24.10324928366768|32.941805157593144|
|2025-09-04|2025|    9|       1810| 50362.49999999999|35425.970000000096| 3.466574585635356|19.572359116022152|27.824585635359114|
|2025-09-06|2025|    9|       1316| 37528.01999999996|28019.730000000076| 3.733647416413376|21.291588145896714| 28.51673252279632|
|2025-09-09|2025|    9|       1552| 39669.55999999992|26562.350000000242|3.3162048969072218|17.114916237113558|25.560283505154587|
|2025-09-10|2025|    9|       1701|43370.169999999875|  28944.6200000002| 3.351405055849501|17.016237507348734|25.496866549088697|
|2025-09-11|2025|    9|       1743| 46152.09999999989|31364.040000000216| 31.04483648881238|17.994285714285837|  26.4785427423981|
|2025-09-13|2025|    9|       1355| 38767.80999999997|28667.540000000092|3.6300959409594107|21.156856088560954| 28.61092988929887|
|2025-09-17|2025|    9|       1763|          46030.56|32343.930000000168|3.2528871242200847| 18.34596142938183|26.109222915484967|
|2025-09-18|2025|    9|       1792| 47949.16999999998| 33279.04000000021|102.40179687500002|18.570892857142976| 26.75734933035713|
|2025-09-28|2025|    9|       1333| 36877.95999999996|26917.810000000118| 3.626181545386343|20.193405851462956| 27.66538634658662|
|2025-09-30|2025|    9|       1589|43368.059999999874|30279.180000000175| 74.53816865953426|19.055494021397216|27.292674638137115|
|2025-09-05|2025|    9|       1695|          53556.27| 38416.99000000017|34.448471976401166| 22.66489085545733|31.596619469026546|
|2025-09-15|2025|    9|       1600|40274.829999999936|26946.900000000132|3.4623562500000005| 16.84181250000008| 25.17176874999996|
|2025-09-16|2025|    9|       1672| 43859.81999999991| 29673.05000000023| 3.507200956937794|17.747039473684346|  26.2319497607655|
|2025-09-22|2025|    9|       1635|41170.659999999894|27532.480000000174| 3.434568807339451|16.839437308868607| 25.18083180428128|
|2025-09-23|2025|    9|       1541|          40129.07|27286.120000000188| 3.543465282284232| 17.70676184295924|26.040927968851395|
+----------+----+-----+-----------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [36]:
# Hourly Metrics (SQL)

df_hourly_sql = spark.sql("""
SELECT
    TO_DATE(pickup_ts) AS trip_date,
    HOUR(pickup_ts) AS trip_hour,
    year,
    month,
    COUNT(*) AS total_trips,
    SUM(total_amount) AS revenue_per_hour,
    AVG(fare_amount) AS avg_fare_amount
FROM silver_green
GROUP BY TO_DATE(pickup_ts), HOUR(pickup_ts), month, year
""")

In [38]:
# Write

(
    df_hourly_sql
    .write
    .mode("overwrite")
    .partitionBy("year", "month")
    .save(str(GOLD_BASE_PATH / "hourly_metrics_sql"))
)

In [39]:
df_hourly_sql.show()

+----------+---------+----+-----+-----------+------------------+------------------+
| trip_date|trip_hour|year|month|total_trips|  revenue_per_hour|   avg_fare_amount|
+----------+---------+----+-----+-----------+------------------+------------------+
|2025-09-01|        3|2025|    9|         11|493.05999999999995|34.527272727272724|
|2025-09-02|        7|2025|    9|         77|           1712.21|15.583766233766246|
|2025-09-01|        8|2025|    9|         11|268.71000000000004|16.566363636363636|
|2025-09-01|       11|2025|    9|         53|1131.2200000000003|15.616981132075468|
|2025-09-02|       14|2025|    9|         90|2184.7899999999995| 17.50411111111112|
|2025-09-01|       16|2025|    9|        127|           4266.18| 25.55062992125984|
|2025-09-02|       17|2025|    9|        140| 3990.419999999999| 19.55178571428572|
|2025-09-01|       19|2025|    9|         86|           2702.89|23.377441860465122|
|2025-09-02|       18|2025|    9|        136| 4097.070000000001|21.691544117647066|
|2025-09-02|       21|2025|    9|         56|1657.2300000000007|20.853571428571424|
|2025-09-02|        3|2025|    9|          4|             98.42|           19.8375|
|2025-09-03|       16|2025|    9|        129|           3940.18|20.927054263565896|
|2025-09-03|       17|2025|    9|        134|4080.8599999999988| 20.45097014925374|
|2025-09-03|       20|2025|    9|         58|            1643.4| 20.82758620689655|
|2025-09-03|        5|2025|    9|          6|             117.5|14.433333333333332|
|2025-09-04|       11|2025|    9|         97|2362.8299999999995|15.022577319587644|
|2025-09-04|       14|2025|    9|        118|           3001.34|17.968305084745772|
|2025-09-04|       17|2025|    9|        161|           4543.58|18.425962732919263|
|2025-09-03|       19|2025|    9|         93|           2864.43|22.337634408602153|
|2025-09-04|       19|2025|    9|         92|           2190.68| 16.02173913043478|
+----------+---------+----+-----+-----------+------------------+------------------+
only showing top 20 rows